# environment variables
.env
.env.local
.env.development
.env.production
integration-service/.env

# node modules
node_modules/

# logs
logs
*.log
npm-debug.log*

# OS files
.DS_Store

# docker volumes
*.db